biopython==1.87
contourpy==1.3.3
cycler==0.12.1
filelock==3.29.7
fonttools==4.63.0
GridDataFormats==1.2.0
joblib==1.5.3
kiwisolver==1.5.0
matplotlib==3.11.0
mda-xdrlib==0.2.0
MDAnalysis==2.10.0
mmtf-python==1.1.3
mrcfile==1.5.4
msgpack==1.2.1
numpy==2.4.4
packaging==26.2
pandas==3.0.2
pillow==12.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.68.4
